include:
  - .gitlab/ci/*.gitlab-ci.yml

stages:
  - build
  - deploy
  - rollback

build-test:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: test
    DOCKERFILE: Dockerfile-test
  only:
    - staging

build-prod:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: latest
    DOCKERFILE: Dockerfile-prod
  only:
    - master

deploy-test:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: microfrontend
    VALUES_FILE: .helm/values-test.yml
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  only:
    - staging

deploy-prod:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: microfrontend
    VALUES_FILE: .helm/values-prod.yml
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  only:
    - master

rollback-test:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: frontend-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

rollback-prod:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: microfrontend
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  when: manual
